<% if @user.avatar.attached? %>
  <div>
    <%= image_tag @user.avatar, class: "avatar", width: 200, height: 200 %>
  </div>
<% end %>

<dl>
  <dt>Display Name</dt>
  <dd><%= @user.display_name_or_username %></dd>

  <dt>Username</dt>
  <dd><%= @user.username %></dd>

  <dt>Email</dt>
  <dd><%= @user.email_address %></dd>

  <dt>Bluesky</dt>
  <dd>
    <% if @user.bluesky_configured? %>
      Connected as <%= @user.bsky_handle %>
    <% else %>
      Not connected
    <% end %>
  </dd>
</dl>

<%= link_to "Edit profile", edit_profile_path %>
