<% content_for :title, @user.display_name_or_username %>

<% content_for :head do %>
  <meta property="og:title" content="<%= @user.display_name_or_username %>">
  <meta property="og:description" content="Posts by <%= @user.display_name_or_username %>">
  <% if @user.avatar.attached? %>
    <meta property="og:image" content="<%= url_for(@user.avatar) %>">
  <% end %>
<% end %>

<section aria-labelledby="profile" class="profile">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "avatar", width: 200, height: 200 %>
  <% end %>
  <dl>
    <dt>Username</dt>
    <dd><%= @user.display_name_or_username %></dd>
  </dl>
</section>

<section aria-labelledby="feed" class="post-feed">
  <%- if @posts.empty? -%>
    <div>No posts</div>
  <% else %>
    <dl>
      <%- @posts.each do |post| -%>
        <dt>@<%= post.user.username %></dt>
        <dd>
          <%= post.content %>

          <small><%= link_to post.created_at, post %></small>
        </dd>
      <% end %>
    </dl>
  <% end %>
</section>
