<header>
  <h2>Homepage</h2>
</header>

<% if authenticated? %>
  <section aria-labelledby="new-post" class="post-box">
    <%= form_with model: Post.new do |f| %>
      <%= f.label :content %>
      <%= f.textarea :content,
                     placeholder: "What are you thinking?",
                     autofocus: true, data: { controller: "cmd-enter textarea-autogrow" } %>

      <%= f.submit "Post" %>
    <% end %>
  </section>
<% end %>

<section aria-labelledby="feed" class="post-feed">
  <% if @posts.empty? -%>
    <div>No posts</div>
  <% else %>
    <dl>
      <% @posts.each do |post| -%>
        <dt>
          <span>@<%= post.user.username %></span>
          <small><%= link_to post.created_at.to_formatted_s(:clean), post %></small>
        </dt>
        <dd>
          <%= markdown post.content %>
        </dd>
      <% end %>
    </dl>
  <% end %>
</section>