<header>
  <h2>Homepage</h2>
</header>

<% if authenticated? %>
  <section aria-labelledby="new-post" class="post-box">
    <%= form_with model: Post.new do |f| %>
      <%= f.label :content %>
      <%= f.textarea :content,
            placeholder: "What are you thinking?",
            autofocus: true, data: {controller: "cmd-enter"} %>

      <%= f.submit "Post" %>
    <% end %>
  </section>
<% end %>

<section aria-labelledby="feed" class="post-feed">
  <%- if @posts.empty? -%>
    <div>No posts</div>
  <% else %>
    <dl>
      <%- @posts.each do |post| -%>
        <dt>@<%= post.user.username %></dt>
        <dd>
          <%= post.content %>

          <small><%= link_to post.created_at, post %></small>
        </dd>
      <% end %>
    </dl>
  <% end %>
</section>