<% if authenticated? %>
  <section aria-labelledby="new-post" class="post-box">
    <%= form_with model: Post.new, data: { controller: "persist-input"} do |f| %>
      <%= f.label :content %>
      <%= f.textarea :content,
                     placeholder: "What are you thinking?",
                     autofocus: true, data: { controller: "cmd-enter textarea-autogrow", persist_input_target: "textarea" } %>

      <%= f.submit "Post" %>
    <% end %>
  </section>
<% end %>

<section aria-labelledby="feed" class="post-feed">
  <% if @posts.empty? -%>
    <p class="empty-state">No posts yet</p>
  <% else %>
    <%= render @posts %>
  <% end %>
</section>
