<article class="post">
  <dl>
    <dt>
      <b>@<%= @post.user.username %></b>
      <small><%= @post.created_at.to_formatted_s(:clean) %></small>
    </dt>
    <dd>
      <%= markdown @post.content %>
    </dd>
  </dl>


  <% if authenticated? && @post.user == Current.user %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= link_to "Back to posts", posts_path %>

      <%= button_to "Destroy this post", @post, method: :delete, data: {turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</article>

<% replies = @post.remote_replies.order(published_at: :asc) %>
<% if replies.any? %>
  <section class="replies">
    <h3>Replies (<%= replies.size %>)</h3>
    <% replies.each do |reply| %>
      <article class="reply">
        <header>
          <strong><%= reply.actor_name || reply.actor_uri %></strong>
          <small><%= reply.published_at&.to_formatted_s(:clean) %></small>
        </header>
        <main>
          <%= sanitize reply.content %>
        </main>
      </article>
    <% end %>
  </section>
<% end %>
