<article class="post">
  <dl>
    <dt>
      <b>@<%= @post.user.username %></b>
      <small><%= @post.created_at.to_formatted_s(:clean) %></small>
    </dt>
    <dd>
      <%= markdown @post.content %>
    </dd>
  </dl>
  

  <% if authenticated? && @post.user == Current.user %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= link_to "Back to posts", posts_path %>

      <%= button_to "Destroy this post", @post, method: :delete, data: {turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</article>